@model susak.Models.Trener

@{
    ViewData["Title"] = "Detalji trenera";
}

<div class="container mt-4">
    <h1 class="mb-4">Detalji trenera</h1>

    <div class="card">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Ime)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Ime)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Prezime)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Prezime)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StrucnaSprema)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.StrucnaSprema)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Korisnik)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Korisnik.KorisnickoIme)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-between">
        <a asp-action="Index" class="btn btn-secondary">Natrag na popis</a>
        <a asp-action="Edit" asp-route-id="@Model?.TrenerId" class="btn btn-primary">Uredi</a>
    </div>
</div>
